<nav class="navbar navbar-expand-lg bg-body-light border-bottom sticky-top">
    <div class="container-fluid"> <!-- Changed container class to container-fluid -->
    <div>
      <a class="navbar-brand" href="/"><i class="fa-solid fa-bolt-lightning"></i></a>
      <a class="navbar-brand" href="/"><i class="fa-solid fa-lightbulb"></i></i></a>
      <a class="navbar-brand" href="/"><i class="fa-solid fa-bolt-lightning"></i></a>
    </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/login">Log-out
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/listings">All State</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/listings/new">Add New State</a>
          </li>
         
        </ul>
      </div>
    </div>
  </nav>
  