<% layout("/layouts/boilerplate") -%>

<div class="row row-cols-lg-4">
  <% for(let listing of allListings) { %>
    <div class="card shadow-lg" style="width: 15rem;">
      <div class="card-body">
        <h5 class="card-title"><%= listing.city.toUpperCase() %>
        </h5>
        <h6 class="card-subtitle mb-2 text-body-secondary"><%= listing.description %></h6>
        <p class="card-text">THIS CARD CONTAIN THE ELECTRICITY USAGE/HOUR OF  <%=listing.city%>.</p>
        <button class="button-81" role="button">  
          <a href="/listings/<%= listing._id %>" class="card-link">CLICK TO OPEN</a></button>
      </div>
    </div>
  <% } %>
</div>







